/* common styles */
* {
    box-sizing: border-box;
    padding: 5px;

  }
  button{
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 2px 4px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;

  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: azure;
  }
  
  /* CreateTicketModal styles */
  .create-ticket-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  }
  .result-div{
    display: flex;
    align-items: center;
    min-height: 100px;


  }
  .todos{
    display: flex;
  }
  
  .create-ticket-modal h2,
  .create-ticket-modal h3 {
    margin: 0;
  }
  
  .create-ticket-modal label {
    display: block;
    margin-bottom: 10px;
  }
  
  .create-ticket-modal input[type="text"] {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .create-ticket-modal .todos {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .create-ticket-modal .todo {
    background-color: rgb(87, 84, 84);
    color: white;
    margin: 5px;
  }  
  